Fifth.Client/Service References/RemoteServiceManagerReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fifth.Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fifth.Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanStop" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInfo" nillable="true" type="tns:ServiceInfo" />
  <xs:complexType name="ArrayOfServiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfo" nillable="true" type="tns:ServiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceInfo" nillable="true" type="tns:ArrayOfServiceInfo" />
</xs:schema>